<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
	<div class="container-fluid py-4">
		<div class="row">
			<div class="col-12 ">
				<div class="card mb-4">
					<div class="card-header pb-0">
						<h6>Admin table</h6>
					</div>
					<div class="card-body px-0 pt-0 pb-2">
						<div class="table-responsive p-0">
							<table class="table align-items-center mb-0">
								<thead>
									<tr>
										<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
											Author
										</th>
										<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
											Function
										</th>
										<th
											class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
											Employed
										</th>
										<th
											class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
											Detail
										</th>
										<th class="text-secondary opacity-7"></th>
									</tr>
								</thead>
								<tbody>
									{{#each result.admins}}

									<tr>
										<td>
											<div class="d-flex px-2 py-1">
												<div>
													<img src="{{avatar_url}}" class="avatar avatar-sm me-3" alt="user1">
												</div>
												<div class="d-flex flex-column justify-content-center">
													<h6 class="mb-0 text-sm">{{username}}</h6>
													<p class="text-xs text-secondary mb-0">{{email}}</p>
												</div>
											</div>
										</td>
										<td>
											<p class="text-xs font-weight-bold mb-0">{{role}}</p>
											<p class="text-xs text-secondary mb-0">Organization</p>
										</td>
										<td class="align-middle text-center">
											<span class="text-secondary text-xs font-weight-bold">{{employed}}</span>
										</td>
										<td class="align-middle text-center text-sm">
											<button class="button-add btn-view badge badge-sm bg-gradient-success"
												data-bs-toggle="modal" data-bs-target='#account{{@index}}'>View
											</button>
										</td>
										<td class="align-middle">
											<form action="edit/{{_id}}" method="post">
												<div class="dropdown-toggle" id="dropdownMenuButton1" data-bs-toggle="dropdown"
													aria-expanded="false">
													Edit
												</div>
												<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
													<li>
														<button class="dropdown-item" type="submit" name="delete"
															value="delete">Delete</button>
													</li>
													<li>
														<select class="form-select" name="to_role"
															onchange='if(this.value != 0) { this.form.submit();}'>
															<option value="0">Change role</option>
															<option value="User">User</option>
															<option value="Admin">Admin</option>
														</select>
													</li>
												</ul>
											</form>
										</td>

										<!-- Modal -->
										<div class="modal fade" id='account{{@index}}' tabindex="-1"
											aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">

														<h5 class="modal-title" id="exampleModalLabel">Account information</h5>

													</div>
													<div class="modal-body">
														<h5 style=" margin-bottom: -3px;">{{fullname}}</h5>
														<h6 class="mb-1" style="font-weight: 500;">@{{username}} </h6>
														<div><b>UserID:</b> {{_id}}</div>
														<div><b>Role:</b> {{role}}</div>
														<div><b>Email:</b> {{email}}</div>
														<div><b>Create at:</b> {{employed}}</div>
														<div><b>Avatar URL:</b>
															<a style="text-decoration: underline; color: #67748E;"
																href="{{avatar_url}}">
																{{avatar_url}}</a>
														</div>
														<div><b>Status:</b> Active</div>
														<div><b>Address:</b> {{address}} </div>
														<div><b>Phone number:</b> {{phone}}</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close
														</button>
													</div>
												</div>
											</div>
										</div>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>

				</div>
				<nav aria-label="Page navigation example">
					<ul class="pagination" style="display: flex; justify-content: right;">

						<li class="page-item" style="{{result.disablePrev}}">
							<a class="page-link" href="/manage/admin?page={{result.prev}}" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="page-item"><a class="page-link" href="#">{{result.page}}</a></li>
						<li class="page-item" style="{{result.disableNext}}">
							<a class="page-link" href="/manage/admin?page={{result.next}}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="row d-flex flex-column align-items-center">
			{{!-- button add --}}
			<button class=" btn btn-primary button-add">Add Administrator</button>
		</div>


		<footer class="footer pt-3  "></footer>
	</div>
</main>


<div class="fixed-plugin">
	<a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
		<i class="fa fa-cog py-2"> </i>
	</a>
	<div class="card shadow-lg ">
		<div class="card-header pb-0 pt-3 ">
			<div class="float-start">
				<h5 class="mt-3 mb-0">Soft UI Configurator</h5>
				<p>See our dashboard options.</p>
			</div>
			<div class="float-end mt-4">
				<button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
					<i class="fa fa-close"></i>
				</button>
			</div>
			<!-- End Toggle Button -->
		</div>
		<hr class="horizontal dark my-1">
		<div class="card-body pt-sm-3 pt-0">
			<!-- Sidebar Backgrounds -->
			<div>
				<h6 class="mb-0">Sidebar Colors</h6>
			</div>
			<a href="javascript:void(0)" class="switch-trigger background-color">
				<div class="badge-colors my-2 text-start">
					<span class="badge filter bg-gradient-primary active" data-color="primary"
						onclick="sidebarColor(this)"></span>
					<span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
					<span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
					<span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
					<span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
					<span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
				</div>
			</a>
			<!-- Sidenav Type -->
			<div class="mt-3">
				<h6 class="mb-0">Sidenav Type</h6>
				<p class="text-sm">Choose between 2 different sidenav types.</p>
			</div>
			<div class="d-flex">
				<button class="btn bg-gradient-primary w-100 px-3 mb-2 active" data-class="bg-transparent"
					onclick="sidebarType(this)">Transparent
				</button>
				<button class="btn bg-gradient-primary w-100 px-3 mb-2 ms-2" data-class="bg-white"
					onclick="sidebarType(this)">White
				</button>
			</div>
			<p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
			<!-- Navbar Fixed -->
			<div class="mt-3">
				<h6 class="mb-0">Navbar Fixed</h6>
			</div>
			<div class="form-check form-switch ps-0">
				<input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
			</div>
		</div>
	</div>
</div>