<main class="main-content position-relative max-height-vh-100 h-100 mt-1 border-radius-lg ">
	<div class="container-fluid py-4">

		<div class="row">
			<div class="col-12 ">
				<div class="card mb-4">
					<div class="card-header pb-0">
						<h6>Admin table</h6>
					</div>
					<div class="card-body px-0 pt-0 pb-2">
						<div class="table-responsive p-0">
							<table class="table align-items-center mb-0">
								<thead>
									<tr>
										<th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
											Author
										</th>
										<th
											class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
											Function
										</th>
										<th
											class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
											Employed
										</th>
										<th
											class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
											Detail
										</th>
										<th class="text-secondary opacity-7"></th>
									</tr>
								</thead>
								<tbody>
									{{#each result.admins}}

									<tr>
										<td>
											<div class="d-flex px-2 py-1">
												<div>
													<img src="{{avatar_url}}" class="avatar avatar-sm me-3" alt="user1">
												</div>
												<div class="d-flex flex-column justify-content-center">
													<h6 class="mb-0 text-sm">{{username}}</h6>
													<p class="text-xs text-secondary mb-0">{{email}}</p>
												</div>
											</div>
										</td>
										<td>
											<p class="text-xs font-weight-bold mb-0">{{role}}</p>
											<p class="text-xs text-secondary mb-0">Organization</p>
										</td>
										<td class="align-middle text-center">
											<span class="text-secondary text-xs font-weight-bold">{{employed}}</span>
										</td>
										<td class="align-middle text-center text-sm">
											<button class="button-add btn-view badge badge-sm bg-gradient-secondary"
												data-bs-toggle="modal" data-bs-target='#account{{@index}}'>View
											</button>
										</td>
										<td class="align-middle">
											<div class="dropdown-toggle" id="dropdownMenuButton1"
												data-bs-toggle="dropdown" aria-expanded="false">
												Edit
											</div>
											<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
												<li>
													<form action="edit/{{_id}}?_method=DELETE" method="post">
														<button class="dropdown-item" type="submit" name="delete"
															value="delete">Delete
														</button>
													</form>
												</li>
												<li>
													<form action="edit/{{_id}}?_method=PUT" method="post">
														<select class="form-select" name="to_role"
															onchange='if(this.value !== 0) { this.form.submit();}'>
															<option value="0">Change role</option>
															<option value="User">User</option>
															<option value="Admin">Admin</option>
														</select>
													</form>
												</li>
											</ul>
										</td>

										<!-- User Modal -->
										<div class="modal fade" id='account{{@index}}' tabindex="-1"
											aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">Account
															information
														</h5>

													</div>
													<div class="modal-body">
														<h5 style=" margin-bottom: -3px;">{{fullname}}</h5>
														<h6 class="mb-1" style="font-weight: 500;">@{{username}}
														</h6>
														<div><b>UserID:</b> {{_id}}</div>
														<div><b>Role:</b> {{role}}</div>
														<div><b>Email:</b> {{email}}</div>
														<div><b>Create at:</b> {{employed}}</div>
														<div><b>Avatar URL:</b>
															<a style="text-decoration: underline; color: #67748E;"
																href="{{avatar_url}}" target="_blank">
																{{avatar_url}}</a>
														</div>
														<div><b>Status:</b> Active</div>
														<div><b>Address:</b> {{address}} </div>
														<div><b>Phone number:</b> {{phone}}</div>
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-secondary"
															data-bs-dismiss="modal">Close
														</button>
													</div>
												</div>
											</div>
										</div>
									</tr>
									{{/each}}
								</tbody>
							</table>
						</div>
					</div>

				</div>
				<nav aria-label="Page navigation example">
					<ul class="pagination" style="display: flex; justify-content: right;">

						<li class="page-item" style="{{result.disablePrev}} ">
							<a class="page-link" href="/manage/admin?page={{result.prev}}" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>

						<li class="page-item {{result.hiddenPrev}}"
							style="{{result.disablePrev}} {{result.numberPrev}}">
							<a class="page-link" href="/manage/admin?page={{result.prev}}"> {{result.prev}} </a>
						</li>

						<li class="page-item active">
							<a class="page-link" href="/manage/admin?page={{result.page}}"> {{result.page}} </a>
						</li>

						<li class="page-item {{result.hiddenNext}}"
							style="{{result.disableNext}} {{result.numberNext}}">
							<a class="page-link" href="/manage/admin?page={{result.next}}"> {{result.next}} </a>
						</li>

						<li class="page-item" style="{{result.disableNext}}">
							<a class="page-link" href="/manage/admin?page={{result.next}}" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>

		<div class="row d-flex flex-column align-items-center">
			{{!-- button add --}}
			<button class=" btn btn-primary button-add" data-bs-toggle="modal" data-bs-target='#add-user'
				onmousedown="addAdmin()">Add
				Administrator
			</button>
			<script>
				function addAdmin() {
					document.getElementById("error").innerHTML = "";
				}
			</script>
		</div>


		{{#if checkErrors}}
		<div id="error">
			<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
				<symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
					<path
						d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
				</symbol>
			</svg>

			<div class="alert alert-danger d-flex align-items-center mt-3" role="alert"
				style="background-image: linear-gradient(to right, #e09ea4, #e08d94);">
				<svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
					<use xlink:href="#exclamation-triangle-fill" />
				</svg>

				<div>
					{{#if errors.password}}
					<div class="mx-4">
						<b>Password:</b>
						<span> {{errors.password}}</span>
					</div>
					{{/if}}

					{{#if errors.phone}}
					<div class="mx-4">
						<b>Phone:</b>
						<span> {{errors.phone}}</span>
					</div>
					{{/if}}

					{{#if errors.username}}
					<div class="mx-4">
						<b>Username:</b>
						<span> {{errors.username}}</span>
					</div>
					{{/if}}

					{{#if errors.confirm_password}}
					<div class="mx-4">
						<b>Confirm password:</b>
						<span> {{errors.confirm_password}}</span>
					</div>
					{{/if}}
				</div>
			</div>
		</div>
		{{/if}}



		<!-- Modal add user -->
		<form action="/manage/add-user" method="post" id="add-user-form" enctype="multipart/form-data">
			<div class="modal fade" id='add-user' tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Add new admin account</h5>
						</div>

						<div class="modal-body">
							<div class="row">
								<div class="col-3">
									<img src="/img/default-avtar.jpg" class="in-avatar rounded float-start" id="avatar"
										alt="avatar">
								</div>
								<div class="col-9">
									<b>Avatar:</b>
									<input type="file" class="form-control form-control-sm" id="input-avatar"
										name="avatar_url" accept=".jpg,.jpeg,.png">
								</div>
							</div>

							<b>Full name:</b> <span class="red-start">*</span>
							<div class="input-group input-group-sm mb-2">
								<input type="text" aria-label="First name" class="form-control" placeholder="First name"
									name="fname">
								<input type="text" aria-label="Last name" class="form-control" placeholder="Last name"
									name="lname">
							</div>

							<b>Username:</b> <span class="red-start">*</span>
							<div class="input-group input-group-sm mb-2">
								<span class="input-group-text" id="basic-addon1">@</span>
								<input type="text" class="form-control" placeholder="Username" aria-label="Username"
									aria-describedby="basic-addon1" name="username">
							</div>

							<b>Password:</b> <span class="red-start">*</span>
							<div class="mb-2">
								<div class="input-group input-group-sm mb-1">
									<input type="password" class="form-control" placeholder="Password" id="passwd"
										aria-label="Passwd" name="passwd">
									<span class="input-group-text">
										<i class="far fa-eye-slash" id="togglePassword-passwd"></i>
									</span>
								</div>
								<div class="input-group input-group-sm mb-1">
									<input type="password" class="form-control form-control-sm" id="confirm-passwd"
										placeholder="Confirm password" aria-label="Passwd" name="confirm_passwd">
									<span class="input-group-text">
										<i class="far fa-eye-slash" id="togglePassword-confirmPasswd"></i>
									</span>
								</div>
							</div>

							<b>Email:</b> <span class="red-start">*</span>
							<div class="input-group input-group-sm mb-2">
								<input type="text" class="form-control" placeholder="Username" aria-label="Username"
									name='mail_username'>
								<span class="input-group-text">@</span>
								<input type="text" class="form-control" name='mail_domain' placeholder="gmail.com"
									aria-label="Server">
							</div>

							<b>Address:</b>
							<input type="text" class="form-control form-control-sm mb-2" placeholder="Address"
								aria-label="addr" name="address">

							<b>Phone number:</b>
							<input type="tel" class="form-control form-control-sm" placeholder="Phone number"
								aria-label="phone-num" name="phone">

							<div class="modal-footer">
								<button type="reset" id="cancle-add-btn" class="btn btn-secondary"
									data-bs-dismiss="modal">Cancle
								</button>
								<button type="submit" id="submit-add-btn" class="btn btn-primary"
									data-bs-dismiss="modal" name="role" value="Admin"
									onmousedown="clickSubmitBtn()">Submit
								</button>
								<script>
									function clickSubmitBtn() {
										const btn_submit = document.getElementById("submit-add-btn");
										const btn_cancle = document.getElementById("cancle-add-btn");
										const form = document.getElementById("add-user-form");

										btn_cancle.disabled = true;
										btn_submit.disabled = true;
										btn_submit.innerHTML = '<i class = "fa fa-spinner fa-spin"></i>&nbsp; Please wait...';

										form.submit();
									}
								</script>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>

	</div>

	<footer class="footer pt-3  "></footer>
</main>


<div class="fixed-plugin">
	<a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
		<i class="fa fa-cog py-2"> </i>
	</a>
	<div class="card shadow-lg ">
		<div class="card-header pb-0 pt-3 ">
			<div class="float-start">
				<h5 class="mt-3 mb-0">Soft UI Configurator</h5>
				<p>See our dashboard options.</p>
			</div>
			<div class="float-end mt-4">
				<button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
					<i class="fa fa-close"></i>
				</button>
			</div>
			<!-- End Toggle Button -->
		</div>
		<hr class="horizontal dark my-1">
		<div class="card-body pt-sm-3 pt-0">
			<!-- Sidebar Backgrounds -->
			<div>
				<h6 class="mb-0">Sidebar Colors</h6>
			</div>
			<a href="javascript:void(0)" class="switch-trigger background-color">
				<div class="badge-colors my-2 text-start">
					<span class="badge filter bg-gradient-primary active" data-color="primary"
						onclick="sidebarColor(this)"></span>
					<span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
					<span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
					<span class="badge filter bg-gradient-success" data-color="success"
						onclick="sidebarColor(this)"></span>
					<span class="badge filter bg-gradient-warning" data-color="warning"
						onclick="sidebarColor(this)"></span>
					<span class="badge filter bg-gradient-danger" data-color="danger"
						onclick="sidebarColor(this)"></span>
				</div>
			</a>
			<!-- Sidenav Type -->
			<div class="mt-3">
				<h6 class="mb-0">Sidenav Type</h6>
				<p class="text-sm">Choose between 2 different sidenav types.</p>
			</div>
			<div class="d-flex">
				<button class="btn bg-gradient-primary w-100 px-3 mb-2 active" data-class="bg-transparent"
					onclick="sidebarType(this)">Transparent
				</button>
				<button class="btn bg-gradient-primary w-100 px-3 mb-2 ms-2" data-class="bg-white"
					onclick="sidebarType(this)">White
				</button>
			</div>
			<p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
			<!-- Navbar Fixed -->
			<div class="mt-3">
				<h6 class="mb-0">Navbar Fixed</h6>
			</div>
			<div class="form-check form-switch ps-0">
				<input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed"
					onclick="navbarFixed(this)">
			</div>
		</div>
	</div>
	<div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-bs-autohide="false">
		<div class="toast-header">
			<strong class="me-auto">Bootstrap</strong>
			<small>11 mins ago</small>
			<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
		</div>
		<div class="toast-body">
			Hello, world! This is a toast message.
		</div>
	</div>
</div>


{{!-- script show password --}}
<script>
	const togglePassword = document.querySelector("#togglePassword-passwd");
	const toggleConfirmPassword = document.querySelector("#togglePassword-confirmPasswd");
	const password = document.querySelector("#passwd");
	const confirmPassword = document.querySelector("#confirm-passwd");

	togglePassword.addEventListener("click", function () {

		// toggle the type attribute
		const type = password.getAttribute("type") === "password" ? "text" : "password";
		password.setAttribute("type", type);
		// toggle the eye icon
		this.classList.toggle('fa-eye');
		this.classList.toggle('fa-eye-slash');

	});
	toggleConfirmPassword.addEventListener("click", function () {

		// toggle the type attribute
		const type = confirmPassword.getAttribute("type") === "password" ? "text" : "password";
		confirmPassword.setAttribute("type", type);
		// toggle the eye icon
		this.classList.toggle('fa-eye');
		this.classList.toggle('fa-eye-slash');
	});
</script>


{{!-- load image from <file> to <img> --}}
	<script>
		document.getElementById('input-avatar').onchange = function (evt) {
			const tgt = evt.target || window.event.srcElement,
				files = tgt.files;

			// FileReader support
			if (FileReader && files && files.length) {
				const fr = new FileReader();
				fr.onload = function () {
					document.getElementById("avatar").src = fr.result;
				}
				fr.readAsDataURL(files[0]);
			}

			// Not supported
			else {
				// fallback -- perhaps submit the input to an iframe and temporarily store
				// them on the server until the user's session ends.
			}
		}
	</script>